# {{ ansible_managed }}

{% if offline_mode | bool %}
[global]
index_url = {{ pip_index_url }}
extra_index_url = {{ pip_extra_index_url }}
trusted-host = {{ offline_host }}

[install]
no-cache-dir = false
{% elif not offline_mode | bool %}
[global]
proxy = {{ https_proxy }}
{% endif %}
